{{#partial "contenido"}}
	<div id="formularioMetodologiaslistaEmpresas">
    <h1> Consulta de Metodologias para la Lista de Empresa </h1>

    <!--  <form action="/consultaMetodologiasListaEmpresas" method="POST" id="signupForm">
      -->   
   
     <form role="form" action="/consultaMetodologiasListaEmpresas" method="POST">
    
    <div class="fieldContainer">
        <div class="formRow">
            <div class="label div-with-label">
                <label for="periodoDesde">Periodo Desde:</label>
            </div>
            <select name="periodoDesde" class="label styled-select black rounded">
            <option value="-1" name "field">Seleccionar</option>
            {{#each periodosDesde}}
            <option value= {{desde}}> {{desde}}</option>
            {{/each}}
             </select>
        </div>
        
        <div class="formRow">
            <div class="label div-with-label">
                <label for="periodoHasta">Periodo Hasta:</label>
            </div>
            <select name="periodoHasta" class="label styled-select black rounded">
            <option value="-1" name "field">Seleccionar</option>
            {{#each periodosHasta}}
            <option value= {{hasta}}> {{hasta}}</option>
            {{/each}}
             </select>
        </div>

        <div>
            <div>
                <label for="empresas">Empresa:</label>
            </div>
            
            <select multiple name="empresas" size = "4">
            <option value="-1" name "field">Seleccionar</option>
            {{#each empresas}}
            <option value= {{nombre}}> {{nombre}}</option>
            {{/each}}
             </select>
        </div>

        <div class="formRow">
            <div class="label div-with-label">
                <label for="nombreMetologia">Metodologia:</label>
            </div>
            <select name="metodologia" class="label styled-select black rounded">
            <option value="-1" name "field">Seleccionar</option>
            {{#each metodologia}}
            <option value= {{nombre}}> {{nombre}}</option>
            {{/each}}
        </select>
        </div>
        
    </div> <!-- Closing fieldContainer -->
    
         <div class="botonConsulta ">
             <button  type="submit" class="btn btn-primary button-consulta button-border">Consultar</button>
       </div>
<!--</form>  -->    
   
</form>     
</div>

{{/partial}}
{{>Home.hbs}}
